# K-Means (Tugas 5)

## Algoritma *K-means*

diterapkan pada objek yang diwakili dalam bentuk titik didalam ruangan vektor berdimensi d. K-means mengcluster semua data dialam setiap dimensi titik dalam segmentasi yang sama diberi custer ID. nilai dari K adalah masukan dasar dar algoritma yang menentukan jumlah segmentasi yang ingin dibentuk. Partisi aan dibentuk dari sekumpulan objek n kedalam cluster k sehingga terbentuk kesamaan objek dalam setiap segmentasi k.

## Kelebihan Algoritma K-means 



1.  Relatif sederhana dan mudah untuk diterapkan.

2.   Dapat diskalakan untuk dataset dalam jumlah besar.

3.  Mudah beradaptasi dengan contoh baru.

## Kekurangan Algoritma K-means 



1.  Perlu menentukan nilai k secara manual

2.   Sangat bergantung pada inisialisasi awal. Jika nilai random untuk inisialisasi kurang baik, maka pengelompokkan yang dihasilkan pun menjadi kurang optimal.

3.  K-means mengalami kesulitan mengelompokkan data di mana cluster memiliki ukuran dan kepadatan yang bervariasi.

## Langkah-Langkah Algoritma K-means


1.   Tentukan nilai k sebagai jumlah klaster yang ingin dibentuk.
2.   Bangkitkan k centroid (titik pusat klaster) awal secara random.
3.   Hitung Jarak setiap data ke masing-masing centroid mengunkan rumus korelasi antar dua objek yaitu Euclidean Distance dan kesamaan Cosine.
4.   Kelompokan setiap data berdasarkan jarak terdekat antara data dengan centroidnya.
5.   Tentukan posisi centroid baru (k C) dengan cara menghitung nilai rata-rata dari data-data yang ada pada centroid yang sama.

\begin{align}C_{k} = (\frac {1}n_{k}  )\sum d_i \ \end{align}

Dimana k n adalah jumlah dokumen dalam cluster k dan i d adalah dokumen dalam cluster k.

6.   Kembali ke langkah 3 jika posisi centroid baru dengan centroid lama tidak sama

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

Import Dataset

In [2]:
url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'
data = pd.read_csv(url)

Menampilkan Dataset

In [3]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Karena kategorinya berupa numerik maka dilakukan transform dengan label encoder

In [ ]:
#Label Encoding - for encoding categorical features into numerical ones
encoder = LabelEncoder()
data['variety'] = encoder.fit_transform(data['variety'])

In [ ]:
data

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

Train-Test Split

melakukan pembagian data menjadi dua data yaitu data uji dan data latih

In [ ]:
#converting dataframe to np array 
Data = data.values 

X=Data [:, 0:5]
Y= Data [: , -1]

print(X.shape)
print(Y.shape)

#train-test split = 3:1 

train_x = X[: 112, ]
train_y = Y[:112, ]

test_x = X[112:150, ]
test_y = Y[112:150, ]

print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(150, 5)
(150,)
(112, 5)
(112,)
(38, 5)
(38,)

Training

In [ ]:
#KMeans

kmeans = KMeans(n_clusters=3)
kmeans.fit(train_x, train_y)

# training predictions
train_labels= kmeans.predict(train_x)

#testing predictions
test_labels = kmeans.predict(test_x)

Hasil Training

In [ ]:
#KMeans model accuracy

#training accuracy
print(accuracy_score(train_y, train_labels)*100)
#testing accuracy
print(accuracy_score(test_labels, test_y)*100)

99.10714285714286
94.73684210526315

Laporan dari dari klasifikasi yang telah dilakukan

In [ ]:
#classification report for training set 
print(classification_report(train_y, train_labels))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        50
         1.0       0.98      1.00      0.99        50
         2.0       1.00      0.92      0.96        12

    accuracy                           0.99       112
   macro avg       0.99      0.97      0.98       112
weighted avg       0.99      0.99      0.99       112